{# templates/blocks/bands-marquee.html.twig #}

<div class="bands-marquee" id="bands-marquee" data-controller="marquee" aria-hidden="true">
    <div class="bands-marquee__track" data-marquee-target="track">

        {# Duplicamos para el loop infinito #}
        {% for i in 1..2 %}
            <div class="bands-marquee__group">
                {% for band in data.bands.bands %}
                {{ band.name }}
                    <span class="bands-marquee__item">
                        <span class="bands-marquee__sep" aria-hidden="true">✦</span>
                    </span>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</div>
